# See https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files for more about ignoring files.

**/__pycache__/
*.py[cod]
*$py.class
*.egg-info/
*.egg
opentrons_flex_edge.egg/
opentrons_flex_edge.egg-info/
opentrons_ot2_edge.egg/
opentrons_ot2_edge.egg-info/
.venv/
dist/
build/
.env
.env.*
!.env.example
.DS_Store
Thumbs.db
.claude
.cursor
