# Machine Configuration
MACHINE_ID=opentrons
OPENTRONS_IP=10.0.239.103
# NATS Server Configuration
# Comma-separated list of NATS server URLs
NATS_SERVERS=nats://100.109.131.12:4222,nats://100.109.131.12:4223,nats://100.109.131.12:4224
